@tailwind base;
@tailwind components;
@tailwind utilities;



#monBouton {
    bottom: -40px;
    animation: apparition 1.2s forwards;
}

@keyframes apparition {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-120px);
        opacity: 1;
    }
}